<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Easy Prime Realty Group</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddImages</display-name>
    <servlet-name>AddImages</servlet-name>
    <servlet-class>com.easy.project.controller.AddImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddImages</servlet-name>
    <url-pattern>/AddImages</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellPropertyController</display-name>
    <servlet-name>SellPropertyController</servlet-name>
    <servlet-class>com.easy.project.controller.SellPropertyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellPropertyController</servlet-name>
    <url-pattern>/SellPropertyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPropertyDetails</display-name>
    <servlet-name>GetPropertyDetails</servlet-name>
    <servlet-class>com.easy.project.controller.GetPropertyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPropertyDetails</servlet-name>
    <url-pattern>/GetPropertyDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignInController</display-name>
    <servlet-name>SignInController</servlet-name>
    <servlet-class>com.easy.project.controller.SignInController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInController</servlet-name>
    <url-pattern>/SignInController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOutController</display-name>
    <servlet-name>SignOutController</servlet-name>
    <servlet-class>com.easy.project.controller.SignOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOutController</servlet-name>
    <url-pattern>/SignOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegistrationController</display-name>
    <servlet-name>UserRegistrationController</servlet-name>
    <servlet-class>com.easy.project.controller.UserRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationController</servlet-name>
    <url-pattern>/UserRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersController</display-name>
    <servlet-name>ViewAllUsersController</servlet-name>
    <servlet-class>com.easy.project.controller.ViewAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersController</servlet-name>
    <url-pattern>/ViewAllUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllSellersController</display-name>
    <servlet-name>ViewAllSellersController</servlet-name>
    <servlet-class>com.easy.project.controller.ViewAllSellersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllSellersController</servlet-name>
    <url-pattern>/ViewAllSellersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PropertyDetailsServlet</display-name>
    <servlet-name>PropertyDetailsServlet</servlet-name>
    <servlet-class>com.easy.project.controller.PropertyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyDetailsServlet</servlet-name>
    <url-pattern>/PropertyDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactFormServlet</display-name>
    <servlet-name>ContactFormServlet</servlet-name>
    <servlet-class>com.easy.project.controller.ContactFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactFormServlet</servlet-name>
    <url-pattern>/ContactFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessageController</display-name>
    <servlet-name>ViewMessageController</servlet-name>
    <servlet-class>com.easy.project.controller.ViewMessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageController</servlet-name>
    <url-pattern>/ViewMessageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllMessagesServlet</display-name>
    <servlet-name>ViewAllMessagesServlet</servlet-name>
    <servlet-class>com.easy.project.controller.ViewAllMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllMessagesServlet</servlet-name>
    <url-pattern>/ViewAllMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUserDetails</display-name>
    <servlet-name>ViewUserDetails</servlet-name>
    <servlet-class>com.easy.project.controller.ViewUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUserDetails</servlet-name>
    <url-pattern>/ViewUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewSellerDetails</display-name>
    <servlet-name>ViewSellerDetails</servlet-name>
    <servlet-class>com.easy.project.controller.ViewSellerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSellerDetails</servlet-name>
    <url-pattern>/ViewSellerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteUserDetails</servlet-name>
    <servlet-class>com.easy.project.controller.DeleteUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserDetails</servlet-name>
    <url-pattern>/DeleteUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DeleteSellerDetails</servlet-name>
    <servlet-class>com.easy.project.controller.DeleteSellerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSellerDetails</servlet-name>
    <url-pattern>/DeleteSellerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAdminData</display-name>
    <servlet-name>FetchAdminData</servlet-name>
    <servlet-class>com.easy.project.controller.FetchAdminData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAdminData</servlet-name>
    <url-pattern>/FetchAdminData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>SearchPropertyController</servlet-name>
    <servlet-class>com.easy.project.controller.SearchPropertyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPropertyController</servlet-name>
    <url-pattern>/SearchPropertyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserProfile</display-name>
    <servlet-name>UpdateUserProfile</servlet-name>
    <servlet-class>com.easy.project.controller.UpdateUserProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserProfile</servlet-name>
    <url-pattern>/UpdateUserProfile</url-pattern>
  </servlet-mapping>
</web-app>